@model Splitwise.Models.Payment

<h2>Voeg een betaling toe</h2>

<form asp-controller="Balances" asp-action="AddPayment" method="post">
    <input type="hidden" asp-for="PersonId" />

    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount">Amount:</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Payment</button>
</form>
